<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UniqueName" value="Srilekha Sampath kumar"/>
		<add key="Username" value="Srilekha"/>
		<add key="Password" value="srilekha"/>
		<add key="Issuer" value="My Authentication App"/>
		<add key="Audience" value="My Authentication App"/>
		<add key="SecurityKey" value="MDI4Zjc3MDAtYTIxMS00OWZhLTg3YjYtZGIxZmM1M2IxMzhm"/>
	</appSettings>
</configuration>